<div class="container">

 <div class="my-3">
   <h2>新規会員登録</h2>
 </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <table class="form">
      <tdody>
        <tr class="form-group row">
          <td class="col-md-3"><%= f.label :名前 %></td>
          <td class="test2"><%= f.label :fast_name,  "（姓)", class: "test" %></td>
          <td class="col-md-3"><%= f.text_field :fast_name, autofocus: true, autocomplete: "fast_name" %></td>
          <td class=""><%= f.label :（名） %></td>
          <td class="col-md-1 test3"><%= f.text_field :second_name, autofocus: true, autocomplete: "second_name" %></td>
        </tr>

        <tr class="form-group row">
          <td class="col-md-3"><%= f.label :フリガナ %></td>
          <td class="test4"><%= f.label :"(セイ)", class: "test" %></td>
          <td class="col-md-3"><%= f.text_field :kana_fast_name, autofocus: true, autocomplete: "kana_fast_name" %></td>
          <td class=""><%= f.label :"(メイ)" %></td>
          <td class="col-md-1 test3"><%= f.text_field :kana_second_name, autofocus: true, autocomplete: "kana_second_name" %></td>
        </tr>

      <tr class="form-group row">
        <td class="col-md-3"><%= f.label :メールアドレス %></td>
        <td class="col-md-4"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
      </tr>

      <tr class="form-group row">
        <td class="col-md-3"><%= f.label :郵便番号（ハイフンなし） %></td>
        <td class="col-md-4"><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control" %></td>
      </tr>

      <tr class="form-group row">
        <td class="col-md-3"><%= f.label :住所 %></td>
        <td class="col-md-9"><%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %></td>
      </tr>


      <tr class="form-group row">
        <td class="col-md-3"><%= f.label :電話番号（ハイフンなし） %></td>
        <td class="col-md-4"><%= f.telephone_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "form-control" %></td>
      </tr>

      <tr class="form-group row">
        <td class="col-md-3">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          (<%= @minimum_password_length %>文字以上)
          <% end %>
        </td>
        <td class="col-md-4"><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %></td>
      </tr>

      <tr class="form-group row">
        <td class="col-md-3"><%= f.label :パスワード（確認用） %></td>
        <td class="col-md-4"><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></td>
      </tr>
    </tdody>
  </table>

  <div class="form-group row">
    <div class="col-md-3 offset-md-3"><%= f.submit "新規登録", class:"btn btn-success" %></div>
  </div>
  <% end %>

  <div class="row">
    <div><h5>既に登録済みの方</h5></div>
  </div>

  <div class="row">
    <div class="col-md-4"><%= render "customers/shared/links" %>からログインください</div>
  </div>


</div>


<style>
  .test2 {
    position: relative;
  }
  .test {
    position: absolute;
    right: -10px;
  }
  .test3 {
    padding-left: 0px;
  }

  .test4{
    position: relative;
    left: 0px;
  }
</style>