<div class="homes_body">
	<div class="container">
		<div class="row login-row">
			<div class="col-xs-3">
		    <div class="col-xs-9">
		    	<div>
		        <div class="box">
		        <img src="./image/top.png" alt=""><%= image_tag("top.png", class: "top_image") %>
		          <div class="main-visual">
							  <p class="main-visual-text">
								ようこそ、ながのCakeへ！<br>
								このサイトは、ケーキ販売のECサイトになります。<br>
								会員でない方も商品の閲覧はできますが、<br>
								購入には会員登録が必要になります。
							  </p>
						  </div>
		        </div>
		      </div>
		    </div>
		  </div>

			<div class="my-2 col-12">
				<h2>オススメ商品</h2>
			</div>
		  <div class="row ">
		    		<% @items.last(4).each do |item| %>
					    <div class="product-box">
					    	<table class="table d-flex justify-content-between col-4">
					    		<tr>
							    	<th><%= link_to items_path(item) do %>
									       <%= attachment_image_tag(item, :image,size: "180x130", fallback: "no_image.jpg") %>
									     <% end %>
								    </th>
									</tr>
									<tr>
										<th><%= link_to item.name, items_path(item) %></th>
									</tr>
									<tr>
											<th>￥<%= (item.sub_price * 1.1).round %></th>
									</tr>
								</table>
					    </div>
				      <% end %>
		  </div>



		    <div class="index-link">
		        <%= link_to "<すべての商品を見る>", items_path %>
		    </div>
		</div>
	</div>
</div>