    <div class="container">
        <!--エラーメッセージ表示-->
        <%= render 'public/error.msg', object: @customer %>


            <div class= "my-3">
            <h3><%= (@customer.fast_name + @customer.second_name) %> の会員情報</h3>
            </div>
            <%= form_with model:@customer, url: admin_customer_path(@customer), local:true do |f| %>
            <table class="form">
                <tbody>
                    <tr class="form-group row">
                       <td class="col-md-3"><%= f.label :会員ID %></td>
                       <td class="col-md-4"><%= f.label @customer.id %></td>
                    </tr>
                    <!--.form-inlineで中にmargin書き込む？？-->
                    <tr class="form-group row">
                        <td class="col-md-3"><%= f.label :氏名 %></td>
                        <td class="col-md-4"><%= f.text_field :fast_name, class: "form-control" %></td>
                        <td class="col-md-4"><%= f.text_field :second_name, class: "form-control" %></td>
                    </tr>
                    <tr class="form-group row">
                        <td class="col-md-3"><%= f.label :フリガナ %></td>
                        <td class="col-md-4"><%= f.text_field :kana_fast_name, class: "form-control" %></td>
                        <td class="col-md-4"><%= f.text_field :kana_second_name, class: "form-control" %></td>
                    </tr>
                    <tr class="form-group row">
                        <td class="col-md-3"><%= f.label :郵便番号 %></td>
                        <td class="col-md-4"><%= f.text_field :postal_code, class: "form-control" %></td>
                    </tr>
                    <tr class="form-group row">
                        <td class="col-md-3"><%= f.label :住所 %></td>
                        <td class="col-md-9"><%= f.text_field :address, class: "form-control" %></td>
                    </tr>
                    <tr class="form-group row">
                        <td class="col-md-3"><%= f.label :電話番号 %></td>
                        <td class="col-md-4"><%= f.text_field :telephone_number, class: "form-control" %></td>
                    </tr>
                    <tr class="form-group row">
                        <td class="col-md-3"><%= f.label :メールアドレス %></td>
                        <td class="col-md-4"><%= f.text_field :email, class: "form-control" %></td>
                    </tr>
                    <tr class="form-group row">
                        <td class="col-md-3"><%= f.label :会員ステータス %></td>
                        <td class="form-check col-md-4">
                          <!--このラジオボタンが選択されていたら、:is_deletedカラムに:trueとデータを送る-->
                          <!--有効ラベルの方を押しても、ラジオボタンが選択されるようにvalue: trueで連動させる-->
                          <%= f.radio_button :is_deleted, :false %>
                          <%= f.label :is_deleted, '有効', value: false %>
                          <!--:is_deletedカラムに:falseとデータを送る-->
                          <%= f.radio_button :is_deleted, :true %>
                          <!--ラジオボタン:falseと連動させる-->
                          <%= f.label :is_deleted, '無効', value: true %>
                        </td>
                    </tr>
                </tbody>
            </table>
　　　　　　<!--送信ボタン-->
　　　　　　<div class="form_btn mb-3">
　　　　　　    <div class="col-md-4 offset-md-3">
　　　　　　        <%= f.submit '変更を保存',  class:"btn btn-success" %>
                </div>
            </div>
           <% end %>
      </div>
    </div>
