    <div class="container">
      <div class="row">
        <!--editアクションの中で、変数作って表示した方が短くなるかも？？-->
        <!--＠変数名 = params[:fast_name,:second_name]で送信されたデータから取り出せる？？-->
        <h3><%= @customer.fast_name %><%= @customer.second_name %> の会員情報</h3>
        <%= form_with model:@customer, local:true do |f| %>
            <div>
               <%= f.label :会員ID %>
               <%= f.label @customer.id %>
            </div>
            <!--たぶん、CSSで間隔あけれるはず？？-->
            <!--.form-inlineで中にmargin書き込む？？-->
            <div class="form-inline">
                <%= f.label :氏名 %>
                <%= f.text_field :fast_name, class: "form-control" %>
                <%= f.text_field :second_name, class: "form-control" %>
            </div>
            <div class="form-inline">
                <%= f.label :フリガナ %>
                <%= f.text_field :kana_fast_name, class: "form-control" %>
                <%= f.text_field :kana_second_name, class: "form-control" %>
            </div>
            <div class="form-group row">
                <%= f.label :郵便番号 %>
                <%= f.text_field :postal_code, class: "form-control" %>
            </div>
            <div class="form-group row">
                <%= f.label :住所 %>
                <%= f.text_field :address, class: "form-control" %>
            </div>
            <div class="form-group row">
                <%= f.label :電話番号 %>
                <%= f.text_field :telephone_number, class: "form-control" %>
            </div>
            <div class="form-group row">
                <%= f.label :メールアドレス %>
                <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="row">
                <%= f.label :会員ステータス %>
                <div class="form-check">
                  <!--このラジオボタンが選択されていたら、:is_deletedカラムに:trueとデータを送る-->
                  <!--有効ラベルの方を押しても、ラジオボタンが選択されるようにvalue: trueで連動させる-->
                  <%= f.radio_button :is_deleted, :true %>
                  <%= f.label :is_deleted, '有効', value: true %>

                  <!--:is_deletedカラムに:falseとデータを送る-->
                  <%= f.radio_button :is_deleted, :false %>
                  <!--ラジオボタン:falseと連動させる-->
                  <%= f.label :is_deleted, '無効', value: false %>
                </div>
            </div>
       <% end %>
      </div>
    </div>
