<div class="container">
  <h3>会員一覧画面</h3>
  <table class="table table-hover table-inverse table-bordered">
    <thead>
      <tr>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <%= @customers.each do |customer|%>
      <tr>
        <td><%= customer.id %></td>
        <td>
          <%= link_to admin_customer_path(customer) do %>
          <%= customer.fast_name %>
          <%= customer.second_name%>
          <% end %>
        </td>
        <td><%= customer.email %></td>
        <td>会員ステータス</td>
        <td>
          <!--もし@customerのis_deletedに入っているデータがtrueだったら？-->
          <!--有効と表示そうでない時は、無効と表示する-->
          <% if customer.is_deleted ==　true %>
            <p class="custome_validity">有効</p>
          <% else%>
            <p class="custome_Invalid">無効</p>
          <% end %>
        </td>
      </tr>
    </tbody>
      <% end %>
  </table>
  <div>
    <%= paginate @customers %>
  </div>