<div class="container">
  <div class="row">
		<h1>注文履歴詳細</h1>
	</div>
		<div class="col-md-10">
		  
		  <table>
			  <tr>
				  <td><strong>購入者</strong></td> 
				  <td><%= @order.name %></td>
			  </tr>
			  <tr>
				  <td><strong>注文日</strong></td>
				  <td><%= @order.created_at.strftime("%Y/%m/%d")%></td>
			  </tr>
			
			  <tr>
          <td><strong>配達先</strong></td>
          <td><%= '〒' + @order.postal_code %></td>
          <td><%= @order.address %></td>
        </tr>
        <tr>
      	  <td></td>
          <td><%= @order.name %></td>
    　   </tr>
    　   <tr>
    　	  <td><strong>支払い方法</strong></td>
    　	  <td>
            <% if @order.pay_selection == false %>
              クレジットカード
            <% else %>
              銀行振込
            <% end %>
          </td>
    　   </tr>
    　   <tr>
    　	  <td><strong>注文ステータス</strong></td>
    　	  <td>
    　	  	<%= form_with model: @order, url: admin_order_path(@order.id), local: true do |form| %>
    　	    <%= form.select :order_status, Order.order_statuses.keys.to_a %>
    　	    <%= form.submit "更新",class:"btn btn-primary" %>
    　	    <% end %>
    　	  </td>
    　   </tr>
		  </table>  
		 
		  
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価（税込)</th>
						<th>数量</th>
						<th>小計</th>
						<th>製作ステータス</th>
					</tr>
				</thead>
				<tbody>

					<% @order_items.each do |order_item| %>
						<tr>
							<td><%= order_item.item.name %></td>
							<td><%= order_item.main_price %>円</td>
							<td><%= order_item.quantity %></td>
							<% @test = 0 %>
							<td><%= @test_second = (order_item.main_price * order_item.quantity) %></td>
							<% @test += @test_second %>
							<td>
								<%= form_with model: order_item, url: admin_order_item_path(order_item.id), local: true do |form| %>
    　	        <%= form.select :make_status, OrderItem.make_statuses.keys.to_a %>
    　	        <%= form.submit "更新",class:"btn btn-primary" %>
    　	        <% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="col-1"></div>
        <table class="table col-3 table-borderless">
          <tr>
            <td>商品合計</th>
            <td><%= @test %> </td>
          </tr>
          <tr>
            <td>送料</td>
            <td>800円</td>
          </tr>  
          <tr>
            <td >請求金額合計</td>
            <td><%= (@test + 800) %></td>
          </tr>
        </table>
      </div>
</div>