<div class="container">
  <h1>マイページ</h1>
  <h4>登録情報</h4>
  <table border="1">
    <tr>
      <td>氏名</td>
      <td><%= (@customer.fast_name + @customer.second_name) %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= (@customer.kana_fast_name + @customer.kana_second_name) %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
    　<td><%= @customer.email %></td>
    </tr>
  </table>

  <div class="form-group row">
    <h6>登録情報</h6>
    <h6><%= link_to '編集する', edit_customer_path(customer.id)%></h6>
  </div>

  <div class="form-group row">
    <h6>配送先</h5>
    <h6><%= link_to '一覧を見る', address_index_path %></h6>
  </div>

  <div class="form-group row">
    <h6>注文履歴</h6>
    <h6><%= link_to '一覧を見る', orders_path %></h6>
  </div>

</div>