<div class="container">
  <%= flash[:error] %>
  
  <div class= "row">
    <h2>ログイン</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class= "row">
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "60*30" %>
    </div>
  </div>

  <div class= "row">
    <div class="field">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password", :size => "60*30" %>
    </div>
  </div>

  <div class= "row">
    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  </div>
  <% end %>

</div>

