<div class="container">
　<div class="row">
    <div class="w-100">
    　  <h2>商品一覧</h2>
    </div>
        <% @items.each do |item| %>
            <div class="items-box">
               <table class="table">
                 <tr>
                    <th>
                        <%= link_to items_path(item) do %>
                        <%= attachment_image_tag(item, :image,size: "180x130", fallback: "no_image.jpg") %>
                        <% end %>
                    </th>
                 </tr>
                 <tr>
                    <th><%= link_to item.name, item_path(item) %></th>
                 </tr>
                 <tr>
                    <th>￥<%= (item.sub_price * 1.1).round %></th>
                 </tr>
              </table>
            </div>
        <% end %>
        <%= paginate @items %>

　</div><!--row-->
</div><!--container-->